*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
} 
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
.main{
    position: relative;
    width: 99vw;
    min-height: 120vh;
    display: flex;
    align-items: center;
    background: url(images/fondo-mobile.png)no-repeat;
    background-size:cover;
    background-position: center;
}
header .navigation{
    display: none;
}
.burgerMenu{
    display: none;

}
.toogleMenu{
    z-index: 9999;
    width: 100%;
    color:white;
    background: rgba(240, 237, 237, 0.7);
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burgerMenu ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.burgerMenu ul li:hover{
    background: rgba(240, 237, 237, 1);
}
.burgerMenu ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    color: black;
}
.navigation a{
    margin: 10px;
    color: black;
    font-size: small;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation a h3{
    margin: 5px;
}

header{
    z-index: 999;
    position: fixed;
    top: 30px;
    background: rgba(240, 237, 237, 0.9);
    width: 95vw;
    height: 80px;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.favoritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.productCard{
    margin: 15px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productCard:hover{
    box-shadow: 5px 5px 15px grey; 
}
.imgProductContainer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-product{
    width: 90%;
    cursor: pointer;
}
.sale{
    position: absolute;
    top: 20px;
    right: 50px;
}
.productCard h2{
    font-size: medium;
    font-weight: 200;
}
.productDetail{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.precio{
    display: flex;
}
h3.old{
    color:gray;
    text-decoration:line-through;
    margin-right: 10px;
}
.verMas{
    position: relative;
    width: 99vw;
    min-height: 60vh;
    background:url(images/bannerMobile.png)no-repeat;
    background-size:cover;
    background-position: center;
}
.text-mas{
    z-index: 999;
    position: absolute;
    top: 200px;
    left: 50px;
    color: white;
}
.ver-mas{
    text-decoration: underline;
    color:white;
    cursor: pointer;
}
footer{
    background-color: black;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 10px;
}
footer .email{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding: 5px;
}
footer .inputs{
    position: relative;
    border-radius: 10px;
}
footer .inputs .button{
    position: absolute;
    z-index: 99;
    top: 7px;
    right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media (min-width: 640px){
    .main{
        position: relative;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(images/fondo-menu.png)no-repeat;
        background-size:cover;
        background-position: center;
    }
    .productsCardContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .sale{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .productCard{
        width: 320px;
        height: 420px;
    }
    .img-product{
        width: 90%;
        height: 350px;
        cursor: pointer;
    }
    .verMas{
        position: relative;
        width: 99vw;
        min-height: 60vh;
        background:url(images/banner.png)no-repeat;
        background-size:cover;
        background-position: center;
    }
}
@media (min-width: 860px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 0 30px 0 30px;
    }
    .header{
        justify-content: space-between;
    }
    header .navigation{
        display: flex;
    }
    .menu-btn{
        display: none;
    }
    .cart-btn{
        display: none;
    }
}
