*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
} 
.main{
    position: relative;
    width: 99vw;
    min-height: 130vh;
    display: flex;
    align-items: center;
    background: url(images/fondo-mobile.png)no-repeat;
    background-size:cover;
    background-position: center;
}
header .navigation{
    display: none;
}

header{
    z-index: 999;
    position: fixed;
    background: rgba(240, 237, 237, 0.7);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
}
.favoritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.productCard{
    margin: 15px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.productCard:hover{
    box-shadow: 5px 5px 15px grey; 
}

.img-product{
    width: 90%;
}
.productDetail{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.precio{
    display: flex;
}
h3.old{
    color:gray;
    text-decoration:line-through;
    margin-right: 10px;
}
.verMas{
    position: relative;
}
.text-mas{
    z-index: 999;
    position: absolute;
    top: 250px;
    left: 50px;
    color: white;
}
.ver-mas{
    text-decoration: underline;
    cursor: pointer;
}
footer{
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h2{
    color: white;
}
footer .email{
    width: 250px;
}
footer .inputs{
    position: relative;
}
footer .inputs .button{
    position: absolute;
    z-index: 99;
    top: 2px;
    right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
@media (min-width: 700px){
    header .navigation{
        display: flex;
    }
    .menu-btn{
        display: none;
    }
    .cart-btn{
        display: none;
    }
    .main{
        position: relative;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(images/fondo-menu.png)no-repeat;
        background-size:cover;
        background-position: center;
    }
}

